#countryImg{
  height:100%;
  width: 100%
}

#footer {
  height: 50px;
}
.pages {
  position: relative;
  
  background-color: #d4f0f9;
}
.travelAgent {
  height: 150px;
  padding-left:5px;
  padding-top:5px;
  margin-bottom:10px;
}

.twoBtn{
  display:flex;
  align-items:center;
  justify-content: space-between;
  bottom:0px
}

.hideBtn{
  visibility:hidden;
}
.flag{
  width: 300px;
}
body{
  background-color: #76858c;
}
